<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduGenie AI</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>🤖 EduGenie AI</h1>

    <p>Your Google Gemini Powered Learning Assistant</p>

    <form action="/ask" method="post">

        <input
            type="text"
            name="question"
            placeholder="Ask anything..."
            required
        >

        <button type="submit">
            🚀Generate
        </button>

    </form>

    <div class="answer-box">

        <h3>Answer</h3>

        <p>{{ answer }}</p>

    </div>

</div>

</body>

</html>